.main-content {
  flex: 1;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.main-content.notepad-open {
  width: calc(100% - 410px); /* 110px for sidebar + 300px for notepad */
}

.main-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.resize-handle {
  background-color: #2b2b2b;
  transition: background-color 0.2s;
}

.resize-handle:hover {
  background-color: #3a3a3a;
}

/* Horizontal resize handle */
.resize-handle[data-resize-handle-active] {
  background-color: #4a4a4a;
  width: 4px;
}

/* Vertical resize handle */
[data-panel-group-direction="vertical"] > .resize-handle {
  height: 4px;
  width: 100%;
}

.window-controls {
  display: flex;
  padding: 10px;
  background-color: #2b2b2b;
  gap: 10px;
  align-items: center; /* This ensures vertical alignment of items */
}

.window-controls input {
  flex: 1;
  padding: 5px;
  background-color: #3a3a3a;
  border: none;
  color: #e0e0e0;
}

.window-controls button {
  padding: 5px 10px;
  background-color: #811112;
  border: none;
  color: #e0e0e0;
  cursor: pointer;
  white-space: nowrap;
}

.window-controls button:hover {
  background-color: #a11414;
}

/* Add this new style for the Reset to Default button */
.reset-to-default {
  margin-right: 20px; /* This pushes the button to the left */
}

.window-wrapper {
  position: relative;
  height: 100%;
  border: 1px solid #2b2b2b;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.window-title {
  background-color: #2b2b2b;
  color: #e0e0e0;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid #3a3a3a;
}

.window-wrapper iframe {
  flex: 1;
  width: 100%;
  border: none;
}

.remove-window {
  position: absolute;
  top: 2px;
  right: 8px;
  background-color: black;
  color: red;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  /* z-index: 10; */
}

.remove-window:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.panel-container {
  height: calc(100% - 50px); /* Adjust based on the height of window-controls */
}